<div class="container-content-plan-text">
    <div class="container-content-plan-text-title"> Оформление заказа </div>
    <div class="container-content-plan-text-content"> Введите общие данные о заказе: </div>
</div>

<div>
    <div class="container-content-dropdown">
        <div class="container-content-dropdown-title"> Покупатель </div>
        <div class="container-content-dropdown-select">
            <!-- Insert customers list here -->
            <select>
                <option> Покупатель 12 </option>
                <option> Покупатель 2 </option>
                <option> Покупатель 3 </option>
            </select>
        </div>
    </div>
</div>
<div>
    <div class="container-content-input">
        <div class="container-content-dropdown-title"> Дата </div>
        <div class="container-content-content-input form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>