<div class="container">
  <div class="container-top-line">
    <div class="container-top-line-tabs">
      <div class="container-top-line-tab">
        <div class="container-top-line-tab-icon">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </div>
        <div class="container-top-line-tab-text"> Tab text </div>
      </div>
    </div>
    <div class="container-top-line-menu">
      <div class="container-top-line-menu-lang">
        <a href="#">RU</a>
        <span> / </span>
        <a href="#">EN</a>
      </div>
      <div class="container-top-line-menu-logout">
        <a href="#">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="container-center-line">
    <div class="container-menu">
      <a href="#">
        <div class="container-menu-item container-menu-item-user">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Веремейчик И.Г. </div>
            <div class="container-menu-item-text-content"> Опретор модуля отгрузки товара </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Статистика </div>
            <div class="container-menu-item-text-content"> Анализ показателей
              <br/> Прогнозные показатели
              <br/> Загруженность склада</div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Приемка товара </div>
            <div class="container-menu-item-text-content"> Оформление сопроводительных документов
              <br/> Зегистрация товаров
              <br/> Размещение товаров</div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Отгрузка товара </div>
            <div class="container-menu-item-text-content"> Оформление заказа
              <br/> Засчет программы загрузки
              <br/> Генерация документов</div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Документы </div>
            <div class="container-menu-item-text-content"> Просмотр документов
              <br/> Печать документов</div>
          </div>
        </div>
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container-bottom-line"></div>