<div class="container">
  <div class="container-top-line">
    <div class="container-top-line-tabs">
      <div class="container-top-line-tab">
        <div class="container-top-line-tab-icon">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </div>
        <div class="container-top-line-tab-text"> Tab text </div>
      </div>
    </div>
    <div class="container-top-line-menu">
      <div class="container-top-line-menu-lang">
        <a href="#">RU</a>
        <span> / </span>
        <a href="#">EN</a>
      </div>
      <div class="container-top-line-menu-logout">
        <a href="#">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="container-center-line">
    <div class="container-menu">
      <a href="#">
        <div class="container-menu-item container-menu-item-user">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Веремейчик И.Г. </div>
            <div class="container-menu-item-text-content"> Опретор модуля отгрузки товара </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Статистика </div>
            <div class="container-menu-item-text-content"> Анализ показателей
              <br/> Прогнозные показатели
              <br/> Загруженность склада</div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Приемка товара </div>
            <div class="container-menu-item-text-content"> Оформление сопроводительных документов
              <br/> Зегистрация товаров
              <br/> Размещение товаров</div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Отгрузка товара </div>
            <div class="container-menu-item-text-content"> Оформление заказа
              <br/> Засчет программы загрузки
              <br/> Генерация документов</div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="container-menu-item">
          <div class="container-menu-item-icon">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          </div>
          <div class="container-menu-item-text">
            <div class="container-menu-item-text-header"> Документы </div>
            <div class="container-menu-item-text-content"> Просмотр документов
              <br/> Печать документов</div>
          </div>
        </div>
      </a>
    </div>
    <div class="container-content">
      <div class="container-content-plan-text">
        <div class="container-content-plan-text-title"> Оформление заказа </div>
        <div class="container-content-plan-text-content"> Введите общие данные о заказе: </div>
      </div>

      <div>
        <div class="container-content-dropdown">
          <div class="container-content-dropdown-title"> Покупатель </div>
          <div class="container-content-dropdown-select">
            <!-- Insert customers list here -->
            <select>
              <option> Покупатель 1 </option>
              <option> Покупатель 2 </option>
              <option> Покупатель 3 </option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <div class="container-content-input">
          <div class="container-content-dropdown-title"> Дата </div>
          <div class="container-content-content-input form-group">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="container-content-plan-text">
        <div class="container-content-plan-text-title">
          <br/>Выберите товары для отгрузки </div>
      </div>

      <div>
        <div class="container-content-table-header">
          <div class="container-content-table-row-first"> Категория товара </div>
          <div class="container-content-table-row-content"> Наименование товара </div>
          <div class="container-content-table-row-min-content"> Количество </div>
          <div class="container-content-table-row-last"> Оператор </div>
        </div>
        <div class="container-content-table-rows">
          <!-- Row is from here -->
          <div class="container-content-table-row">
            <div class="container-content-table-row-first">
              <select>
                <option> Категория 1 </option>
                <option> Категория 2 </option>
                <option> Категория 3 </option>
              </select>
            </div>
            <div class="container-content-table-row-content">
              <select>
                <option> Наименование 1 </option>
                <option> Наименование 2 </option>
                <option> Наименование 3 </option>
              </select>
            </div>
            <div class="container-content-table-row-min-content">
              <input type="text" placeholder="0" />
            </div>
            <div class="container-content-table-row-last">
              Веремейчик
            </div>
          </div>
          <!-- To here -->
        </div>
      </div>


      <div class="container-content-button">
        <a href="#"> Добавить товар </a>
      </div>

      <div class="container-content-plan-text">
        <div class="container-content-plan-text-title">
          <br/>Выберите транспорт для отгрузки </div>
      </div>

      <div>
        <div class="container-content-table-header">
          <div class="container-content-table-row-first"> Категория транспорта </div>
          <div class="container-content-table-row-content"> Наименование транспортного средства </div>
          <div class="container-content-table-row-min-content"> Количество </div>
          <div class="container-content-table-row-last"> Водитель </div>
        </div>
        <div class="container-content-table-rows">
          <!-- Row is from here -->
          <div class="container-content-table-row">
            <div class="container-content-table-row-first">
              <select>
                <option> Категория 1 </option>
                <option> Категория 2 </option>
                <option> Категория 3 </option>
              </select>
            </div>
            <div class="container-content-table-row-content">
              <select>
                <option> Наименование 1 </option>
                <option> Наименование 2 </option>
                <option> Наименование 3 </option>
              </select>
            </div>
            <div class="container-content-table-row-min-content">
              <input type="text" placeholder="0" />
            </div>
            <div class="container-content-table-row-last">
              <input type="text" placeholder="Фамилия" />
            </div>
          </div>
          <!-- To here -->
        </div>
      </div>

      <div class="container-content-button">
        <a href="#"> Добавить транспорт </a>
      </div>

      <div class="container-content-order-total-data">
        <div class="container-content-order-total-data-item">
          <div class="container-content-order-total-data-key"> Покупатель: </div>
          <div class="container-content-order-total-data-value"> ОАО "Х" </div>
        </div>
        <div class="container-content-order-total-data-item">
          <div class="container-content-order-total-data-key"> Всего товаров: </div>
          <div class="container-content-order-total-data-value"> 000 шт</div>
        </div>
        <div class="container-content-order-total-data-item">
          <div class="container-content-order-total-data-key"> Общий вес: </div>
          <div class="container-content-order-total-data-value"> 000 кг </div>
        </div>
        <div class="container-content-order-total-data-item">
          <div class="container-content-order-total-data-key"> Общая стоимость: </div>
          <div class="container-content-order-total-data-value"> 000 BYN </div>
        </div>
      </div>

      <div class="container-content-button" style="background-color: #FFC107;">
        <a href="#"> Оформить заказ </a>
      </div>

    </div>
  </div>
</div>
<div class="container-bottom-line"></div>