<div class="container-content">
    <general-order-data></general-order-data>

    <order-products></order-products>
   
    <order-transport></order-transport>
   

    <div class="container-content-order-total-data">
      <div class="container-content-order-total-data-item">
        <div class="container-content-order-total-data-key"> Покупатель: </div>
        <div class="container-content-order-total-data-value"> ОАО "Х" </div>
      </div>
      <div class="container-content-order-total-data-item">
        <div class="container-content-order-total-data-key"> Всего товаров: </div>
        <div class="container-content-order-total-data-value"> 000 шт</div>
      </div>
      <div class="container-content-order-total-data-item">
        <div class="container-content-order-total-data-key"> Общий вес: </div>
        <div class="container-content-order-total-data-value"> 000 кг </div>
      </div>
      <div class="container-content-order-total-data-item">
        <div class="container-content-order-total-data-key"> Общая стоимость: </div>
        <div class="container-content-order-total-data-value"> 000 BYN </div>
      </div>
    </div>

    <div class="container-content-button" style="background-color: #FFC107;">
      <a href="#"> Оформить заказ </a>
    </div>

  </div>